@using Application.Models.Checkpoint

@model CreateCheckpointRequest

<h2>Создание уровня доступа</h2>

@using (Html.BeginForm("CreateCheckpoint", "Checkpoint", FormMethod.Post))
{
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Name)
            @Html.LabelFor(m => m.Name, "Название")
            @Html.EditorFor(m => m.Name)
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Description)
            @Html.LabelFor(m => m.Description, "Описание")
            @Html.EditorFor(m => m.Description)
        </div>
        <div class="form-group">
               @Html.DropDownListFor(h => h.FirstRoomId,
                    new SelectList(ViewBag.Rooms, "Id", "Name").OrderBy(x=>x.Text))
        </div>
        <div class="form-group">
               @Html.DropDownListFor(h => h.SecondRoomId,
                    new SelectList(ViewBag.Rooms, "Id", "Name").OrderBy(x=>x.Text))
        </div>
        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-outline-dark" />
        </div>
    </div>
}
