@using Application.Models.Room
@model EditRoomRequest

<h2>Редактирование комнаты</h2>

@using (Html.BeginForm("EditRoom", "Room", FormMethod.Post))
{
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Name)
            @Html.LabelFor(m => m.Name, "Название")
            @Html.EditorFor(m => m.Name)
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(m => m.Description)
            @Html.LabelFor(m => m.Description, "Описание")
            @Html.TextAreaFor(m => m.Description)
        </div>
        <div class="form-group">
            <input type="submit" value="Применить" class="btn btn-outline-dark" />
        </div>
    </div>
}

<br />
<h3>Кпп комнаты</h3>
<br />
<div class="text-center">
    @if (Model.Checkpoints.Count() == 0)
    {
        <div>Нет Кпп</div>
    }
    else
    {
        <table class="table legend">
            <tr>
                <th>Номер</th>
                <th>Название</th>
            </tr>
            @{
                int number = 0;
            }
            @foreach (var checkpoint in Model.Checkpoints)
            {
                <tr>
                    <td>@(++number)</td>
                    <td>@checkpoint.Name</td>
                    <td>
                        @Html.ActionLink("Редактировать КПП", "EditCheckpoint", "Checkpoint", new { CheckpointId = checkpoint.Id }, new { type = "button", @class = "btn btn-outline-dark" })
                    </td>
                </tr>
            }

        </table>
    }
</>
