@using Application.Models.User
@model ChangePasswordRequest

<h2>Вход на сайт</h2>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label>@Html.LabelFor(m => m.OldPassword, "Введите старый пароль")</label>
            <br />
            @Html.EditorFor(l => l.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="form-group">
            <label>@Html.LabelFor(m => m.NewPassword, "Введите новый пароль")</label>
            <br />
            @Html.EditorFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-group">
            <label>@Html.LabelFor(m => m.ConfirmNewPassword, "Введите новый пароль")</label>
            <br />
            @Html.EditorFor(m => m.ConfirmNewPassword)
            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
        </div>
        <div class="form-group" style="margin-top:15px;">
            <input type="submit" value="Изменить пароль" class="btn btn-outline-dark" />
        </div>
    </div>
}
